<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class="loginForm" action="/signin" method="post">
        <input type="text" name='username' id="username" placeholder="username">
        <input type="password" name='password' id='password' placeholder="password">
        <button type="submit">Login</button>
    </form>
    <p id='loginMsg'></p>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="app.js"></script>
</body>
</html>