<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        <% data.forEach(task => { %>
        <li>
            <p><%=task.t_name%></p>
            <p><%=task.t_date%></p>
        </li>
        <% }) %>
    </ul>
</body>

</html>