@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand'); 
  hr {
    clear: both;
    border: 0;
    height: 13px;
    background-image: url('../img/hr.png');
  }
  
  h2 {
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
  }

  aside {
    padding-top: 30px;
    padding-bottom: 60px
  }

  input {
    font-family: 'Patrick Hand', cursive;
  }
  
  aside img {
    float: left;
  }
  
  aside h3 {
    padding-left: 100px;
    font-size: 1.6em;
    padding-bottom: 10px;
    color: #555;
  }
  
  aside p {
    padding-left: 100px;
    width: 65%;
    margin: 0;
    text-indent: 0;
  
  }

  
  section hr {
    border-bottom: 1px solid #eee;
    height: 0;
  }
  
  
  
  
  