@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');

* {
  font-family: times;
}

body {
  background: #fff;
}

nav, article, aside, footer section {
    margin: 0 auto;
    width: 900px;
  }


  main p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.3em;
    text-indent: 30px;
    margin: 20px 0px;
  }

  footer section p{
    padding: 50px 0;
    line-height: 1.5em;
    text-align: center;
    color: #aaa;
  }

  nav {
    margin-top: 25px;
  }
  
  nav ul {
      float: right;
    }
    
    nav li {
      float: left;
      padding-right: 2px;
    }
